.container {
    background-color: wheat;
    padding: 5px 5px 5px 5px;
    height: 60px;
    border-bottom: double;
}

ul {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 10px 10px 10px 10px;
    height: 10px;
}

.a-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
}

.a-link:hover{
    border-bottom: 3px solid #ffff;
}